.nav_main {
    position: absolute;
    width: 100%;
    top: 40px;
    display: grid;
    place-items: center;
    /* background: #000; */
}

.nav_in {
    width: calc(100% - 100px);
    max-width: 1249px;
    height: 40px;
    /* top: 47px; */
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: red; */
}

.nav_logo {
    width: 182px;
    height: 36px;
    z-index: 1100 !important;
}

.nav_btn {
    width: 106px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 7px;
    background: #385D63;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: white;
}

.nav_list {
    max-width: 436px;
    height: 40px;
    padding: 7px 8px 10px 8px;
    gap: 18px;
    border-radius: 7px;
    background: #CCC3C326;
    display: flex;
}

.nav_li {
    background: transparent;
    color: #A7A7A7;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
    width: 110px;
    height: 26px;
    border-radius: 5px;
    z-index: 1000;
}

.active {
    padding: 0px 10px;
    background: #514E4E;
    color: #A7A7A7;
}

/* Mobile Styles */
.hamburger {
    
    display: none;
    background: #385D63;
    border: none;
    cursor: pointer;
    z-index: 99;
    width: 34px;
height: 30px;
border-radius: 5px ;

}

.mobileNav_btn{
    width: 106px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 7px;
    background: #385D63;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: white;
    z-index: 1000;
    margin-top: 20px;

}

.mobile_menu {
    display: none;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    background: #CCC3C326;
    backdrop-filter: blur(20px);

    /* margin-top: 10px; */
    padding: 16px;
    padding-top: 80px;
    border-radius: 7px;
    z-index: 999;
}

.mobile_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.mobile_li {
    border-radius: 5px;
    padding: 10px 0px;
    color: #A7A7A7;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 100%;
    
}

/* Media Queries */
@media (max-width: 862px) {

    .nav_in {
        width: calc(100% - 50px);
  
    }
    .nav_list {
        display: none;
        
    }

    .nav_btn {
        display: none;
    }

    .hamburger {
        display: block;
        place-items: center;
        z-index: 1000;
    }

    .mobile_menu {
        display: block;
        place-items: center;
       
    }
.nav_in{
    padding: 0px 20px;
}
   

    

}


@media (max-width: 449px) {


    .nav_logo {
        width: 150px;
    height: 30px;
    
   
    }

}