.homecontact_main {
    display: grid;
    place-items: center;
    padding: 140px 0px;

}

.homecontact_in {
    width: calc(100% - 100px);
    max-width: 1212px;
    border-radius: 12px;
    background: linear-gradient(147.14deg, #385D63 -26.05%, #0B0E0F 105.75%);
    padding: 0px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
}

.homecontact_textDiv {
    width: 556px;
    gap: 70px;
    opacity: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    /* background: #000; */
}

.homecontact_heading {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 40px;

}

.homecontact_pra {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 70px;

}

.homecontact_btn {
    width: 145px;
    height: 42px;
    padding: 4px 0px 5px 14px;
    gap: 0px;
    border-radius: 7px;
    opacity: 0px;
    background: #FFFFFF;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30.24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;

}

.homecontact_iconDiv {
    display: grid;
    place-items: center;
    width: 284px;
    height: 284px;
    gap: 0px;
    opacity: 0px;

}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 5;
}

.blur {
    filter: blur(6px);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 493px;
    width: calc(100% - 50px);
    height: 549px;
    gap: 0px;
    border-radius: 12px;
    border: 1px solid #337A86;
    opacity: 0px;
    z-index: 10;
    background: linear-gradient(161.2deg, #385D63 -53.27%, #0B0E0F 117.02%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.closeButton {
    font-size: 19px;
    position: absolute;
    right: 20px;
    top: 20px;

}



.form {
    width: 100% !important;
    color: white;
}

.title {
    font-family: Outfit;
    font-size: 30px;
    font-weight: 500;
    line-height: 37.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.label {
    display: block;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
margin-bottom: 4px;
margin-top: 12px;
}

.input {

    padding: 14px 10px 14px 10px;
    width: 100%;
    background: #9696961A;
    border: 1px solid #A7A7A7;
    border-radius: 10px;
    color: #A7A7A7;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    outline: none;
    transition: border 0.3s;

}

.input:focus {
    border: 1px solid #337A86;
}

.textarea {
    width: 100%;
    padding: 14px 10px 14px 10px;
    background: #9696961A;
    border: 1px solid #A7A7A7;
    border-radius: 10px;
    color: #A7A7A7;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    outline: none;
    transition: border 0.3s;
    resize: vertical;
    min-height: 80px;
}

.textarea:focus {
    border: 1px solid #337A86;
}


.button {
    width: 145px;
    height: 42px;
    gap: 0px;
    border-radius: 7px;
    opacity: 0px;
    background: #777;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30.24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
    margin-top: 16px;
}

.button:hover {
    background: #ffffff;
}








/* Styles for screens less than 1300px */
@media (max-width: 949px) {
    .homecontact_in {
        width: calc(100% - 50px);
        max-width: 1212px;
        padding: 40px 10px !important;
    }


    .homecontact_textDiv {
        width: 100%;
        max-width: 456px;
        gap: 70px;
        opacity: 0px;
        padding-top: 28px;

    }

    .homecontact_heading {
        margin-bottom: 20px;

    }

    .homecontact_pra {
        margin-bottom: 30px;

    }

    .homecontact_iconDiv {
        width: 224px;
        height: 224px;


    }



}




/* Styles for screens less than 800px */
@media (max-width: 749px) {

    .homecontact_in {
        width: calc(100% - 50px);
        max-width: 1212px;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .homecontact_textDiv {
        width: 100%;
        padding-top: 28px;
        text-align: center;
        margin-bottom: 30px;
    }

    .homecontact_heading {
        margin-bottom: 20px;
        text-align: center;

    }

    .homecontact_pra {
        text-align: center;
        margin-bottom: 30px;

    }

    .homecontact_iconDiv {
        width: 224px;
        height: 224px;


    }




}




/* Styles for screens less than 400px */
@media (max-width: 449px) {

    .title {
        font-size: 24px;
    }
    .homecontact_in {
        width: calc(100% - 50px);
        max-width: 1212px;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }



    .homecontact_heading {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 600;
        line-height: 43.88px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;


    }

    .homecontact_pra {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24.5px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;


    }

}