.usecase_main {
    display: grid;
    place-items: center;
    /* background-color: blueviolet; */
    margin: 140px 0px;
    position: relative;
}

.usecase_in {

    
    width: calc(100% - 100px);
    max-width: 1206px;
    height: 882px;
    gap: 72px;
    opacity: 0px;
    /* background-color: burlywood; */
    display: grid;
    place-items: center;

}

.usecase_textDiv {
    width: 100%;
    max-width: 820px;
    height: 95px;
    gap: 7px;
    opacity: 0px;
    /* background: #bf3d3d; */


}

.usecase_heading {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 63px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.usecase_headingSpan {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 63px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: linear-gradient(92.6deg, #3D95A4 36.17%, #A0B9C1 72.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.usecase_discription {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 6px;
    color: #A7A7A7;

}

.usecase_tabMain{
    width: 100%;
    margin-top: -10px;

}

.usecase_tabList{
    width: 100%;
  
/* background: #ce0808; */
height: 100%;
margin-bottom: 80px;
}

.usecase_tabListIn{
    display: flex;
    justify-content: space-between;
    width: 363px;
    height: 50px;
    padding: 7.5px 8px 10px 8px;

    border-radius: 7px;
    opacity: 0px;
    
    background: #CCC3C330;


}

.usecase_tabBtn{
    width: 93px;
    height: 35px;
    padding: 0px 5px 0px 5px !important;
    gap: 10px;
    border-radius: 5px;
    background: transparent;
    color:  #A7A7A7;

    font-family: 'Outfit', sans-serif;
    font-size: 20px !important;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    

}
.activeTab {
    background: #514E4E;

}

.usecase_bannerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #3D95A4; */
    column-gap: 20px;
}


.usecase_banner{
    width: 395px;
height: 579px;
padding: 24px;
gap: 25px;
border-radius: 12px;
border: 1px;
opacity: 0px;
background: #A7A7A714;

/* background-color: blue; */
border: 1px solid #7C7B7BCC ;
}

.usecase_bannerHeading{
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40.32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /* background-color: #3D95A4; */
    margin-bottom: 20px;
    
}

.usecase_bannerPra{
font-family: 'Outfit', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 25.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
/* background-color: rgb(161, 161, 39); */


}

.usecase_bannerImg{
    width: 327px;
height: 327px;
gap: 0px;
opacity: 0px;
angle: -180 deg;
/* background-color: brown; */
border: 1px solid #7C7B7BCC ;
margin-bottom: 40px;

}

.usecase_tabContentDiv{
    /* background-color: #ce0808; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 40px;
    width: 100%;

}

.usecase_tabContentCard{
    width: 359px;
    height: 180px;
    border-right: 1px solid #7C7B7BCC ;
    border-bottom: 1px solid #7C7B7BCC  ;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    flex-wrap: nowrap;



    /* position: absolute; */
    /* border-radius: 12px; */

    /* background-color: cadetblue; */
    padding: 0px 14px;
    display: grid;

}

.usecase_tabIconDiv{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* padding: 20px 20px; */
    /* gap: 12px; */
    /* background-color: #aa3737; */
    margin-top: 10px;
    height: 66px;

}

.usecase_tabCardHeading{
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 32.76px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /* background: #000; */
    height: 66px;

}

.usecase_tabCardIcon{
    width: 40px;
    height:40px;
    font-size: 40px;
    /* background-color: #A0B9C1; */
       
}

.usecase_tabCardPra{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    
}


